@font-face {
  font-family: "Gagalin";
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff"), url("../fonts/gagalin-regular-webfont.eot") format("eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lifehack";
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff"), url("../fonts/lifehack_medium-webfont.eot") format("eot");
  font-weight: 500;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 300;
  line-height: 1.42;
  background-color: #ffffff;
}

div,
span,
p,
header,
footer,
article,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ul li {
  list-style: none;
}

button, [type=button], [type=submit], [type=reset] {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrap {
  height: 100%;
}

.maincontent {
  height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-width: 940px;
  width: 93%;
  display: flex;
  flex-direction: column;
}

.container_center {
  justify-content: center;
  align-items: center;
}

.container_1010 {
  max-width: 1010px;
}

.section {
  min-height: 650px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.section_home {
  background-image: url("../img/bg/home-bg.jpg");
  padding-top: 0.75rem;
}

.section_we {
  background-image: url("../img/bg/we-bg.jpg");
}

.section_gradient {
  background-color: #f9b43b;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
}

.section_team {
  background-image: url("../img/bg/team-bg.jpg");
}

.section_menu {
  background-image: url("../img/bg/menu-bg.jpg");
}

.section_how {
  background-image: url("../img/bg/how-bg.jpg");
}

.section_order {
  background-image: url("../img/bg/order-bg.jpg");
}

.section_map {
  background-image: url("../img/bg/map-bg.jpg");
}

.section__home {
  padding: 0.75rem 0 2.5rem 0;
  height: 100%;
}

.section__arrow {
  position: absolute;
  bottom: 7%;
  left: 49%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: 0.9375rem;
}

.header__burger-nav {
  margin-left: 1.875rem;
}

.logo__icon {
  width: 5.75rem;
  height: 4.3125rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__item::after {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 1rem;
}
.nav__item:last-child::after {
  display: none;
}

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__close {
  display: none;
}

.btn {
  display: block;
  padding: 0.625rem 0.9375rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #e45028;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn:hover {
  background-color: #c1401e;
}

.btn_grey {
  background-color: #2f3234;
}
.btn_grey:hover {
  background-color: #1f2122;
}

.btn_bg-none {
  background-color: transparent;
  border: none;
  text-transform: none;
  outline: none;
}
.btn_bg-none:hover {
  background-color: transparent;
}

.promo {
  flex: 0.7;
  display: flex;
  align-items: center;
}

.promo__img {
  overflow: hidden;
  padding-left: 1.1875rem;
}

.promo__img, .promo__content {
  flex-basis: 50%;
}

.promo__pic {
  display: block;
  max-width: 100%;
}

.promo__content {
  padding-left: 0.9375rem;
  padding-top: 9%;
}

.promo__text {
  font-family: Lifehack;
  font-size: 4.0625rem;
  color: #ffffff;
  line-height: 3.75rem;
  letter-spacing: -0.101875rem;
}

.promo__title {
  margin-bottom: 1.6875rem;
}

.title {
  font-family: Gagalin;
  font-size: 4.5rem;
  line-height: 4rem;
  color: #f9b43b;
}

.title_black {
  color: #2f3234;
}

.title_white {
  color: #ffffff;
}

.arrow {
  display: flex;
  justify-content: center;
}

.arrow__icon {
  width: 1.8125rem;
  height: 0.875rem;
}

.arrow_left .arrow__icon {
  transform: rotate(90deg);
}

.arrow_right .arrow__icon {
  transform: rotate(-90deg);
}

.burger-nav {
  display: none;
  flex-direction: column;
}

.burger-nav__item {
  width: 1.5rem;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  margin-bottom: 0.3125rem;
}
.burger-nav__item:last-child {
  margin-bottom: 0;
}

.privilege {
  width: 100%;
}

.privilege__list {
  display: flex;
  justify-content: space-between;
}

.privilege__icon {
  max-width: 97px;
  max-height: 89px;
}

.privilege__item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.privilege__img {
  margin-bottom: 1.5625rem;
}

.privilege__content {
  text-align: center;
}

.privilege__title {
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2f3234;
  margin-bottom: 0.625rem;
}

.privilege__text {
  font-size: 0.875rem;
  line-height: 1.50125rem;
  color: #2f3234;
  opacity: 0.8;
}

.privilege__head {
  margin-bottom: 5%;
}

.team {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #2f3234;
  opacity: 0.93;
  padding: 7.0625rem 6.125rem 0 6.125rem;
}

.team__title {
  margin-bottom: 2.875rem;
}

.team__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}
.team__item_active .team__link {
  color: #f9b43b;
}
.team__item_active .team__link::before {
  transform: rotate(180deg);
}

.team__wrap {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.team__link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 0.875rem;
}
.team__link::before {
  content: "";
  display: block;
  border: 7px solid transparent;
  border-top-color: #f9b43b;
  border-bottom-width: 0px;
  border-left-width: 5px;
  border-right-width: 5px;
  width: 0;
  height: 0;
  margin-right: 0.625rem;
  transition: 0.3s;
}

.team__container {
  display: flex;
  align-items: center;
  padding: 1rem 0 0.5rem 1rem;
}

.team__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1.25rem;
  background: #ffffff center center no-repeat;
  background-size: cover;
}

.team__text {
  color: #ffffff;
  font-size: 0.875rem;
}

.team__name {
  font-weight: 700;
}

.team__desc {
  line-height: 1.5rem;
  max-width: 225px;
}

.menu-accordion__title {
  position: absolute;
  top: 16%;
  left: 9%;
}

.menu-accordion {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 70%;
}

.menu-accordion__list {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.menu-accordion__item {
  height: 100%;
  display: flex;
}

.menu-accordion__nav {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  width: 5rem;
  padding-bottom: 2.5rem;
  background: center center no-repeat;
  background-size: cover;
}
.menu-accordion__nav::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.3);
}

.menu-accordion__link {
  display: flex;
  position: relative;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 2.5rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  align-items: center;
}

.menu-accordion__wrap {
  opacity: 0;
  width: 0;
  background-color: rgba(47, 50, 52, 0.93);
  transition: width 0.5s;
}

.menu-accordion__item_active .menu-accordion__wrap {
  opacity: 1;
}
.menu-accordion__item_active .menu-accordion__link {
  color: #f9b43b;
}

.menu-accordion__contant {
  position: relative;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 3.875rem 2.0625rem;
}

.menu-accordion__close {
  display: none;
  position: absolute;
  top: 2%;
  right: 3%;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  position: relative;
  flex-basis: 25%;
  height: 50%;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.reviews__item:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.7);
}
.reviews__item:hover > .reviews__content {
  opacity: 1;
  transition: 1s;
}

.reviews__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 1.25rem;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.reviews__subtitle {
  margin-bottom: 0.9375rem;
}

.reviews__des {
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.6875rem;
}

.reviews__btn {
  display: flex;
}

.reviews__btn_x480 {
  display: none;
}

.subtitle {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 0.875rem;
  line-height: 1.756875rem;
}

.form__container {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 1.25rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__group {
  flex: 1;
  margin-right: 1.25rem;
}
.form__group:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  height: 2.1875rem;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  outline: none;
  color: #2f3234;
  font-weight: 300;
  padding: 0.6875rem 1.3125rem;
}
.form__input:focus {
  border: 2px solid #f9b43b;
}

.form__input_text {
  min-height: 6.8125rem;
}

.form__title {
  color: #ffffff;
  font-size: 0.875rem;
  margin-bottom: 0.3125rem;
}

.form__radio {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1.25rem;
  cursor: pointer;
}
.form__radio input[type=radio], .form__radio input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.form__radio input[type=radio]:checked + .form__radio-button::before, .form__radio input[type=checkbox]:checked + .form__radio-button::before {
  width: 0.4375rem;
  height: 0.4375rem;
  transition: 0.3s;
}

.form__radio-button {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: #ffffff;
}
.form__radio-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #e35028;
  border-radius: 50%;
  transition: 0.3s;
}

.form__radio-label {
  color: #ffffff;
  font-size: 0.875rem;
}

.form__radio_checkbox .form__radio-button {
  border-radius: 0;
}
.form__radio_checkbox .form__radio-button::before {
  background: url("../img/checked.png") center center no-repeat;
}
.form__radio_checkbox input[type=radio]:checked + .form__radio-button::before, .form__radio_checkbox input[type=checkbox]:checked + .form__radio-button::before {
  width: 0.6875rem;
  height: 0.5625rem;
}

.form__head {
  margin-bottom: 2.8125rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  background: #000 url("../img/bg/footer-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 0.625rem 0;
}

.footer__container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contacts__address {
  color: #ffffff;
  margin-bottom: 0.3125rem;
}

.contacts__phone {
  display: flex;
  align-items: center;
}

.contacts__phone-icon {
  fill: #e45028;
  width: 0.75rem;
  height: 0.6875rem;
  margin-right: 0.3125rem;
}

.contacts__phone-call {
  display: flex;
  align-items: center;
}

.contacts__phone-number {
  font-size: 0.875rem;
  color: #e45028;
}

.socials__list {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 1.25rem;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: flex;
}

.social__icon {
  width: 1.25rem;
  height: 1.25rem;
  opacity: 0.3;
  transition: 0.3s;
}
.social__icon:hover {
  opacity: 1;
}

.close {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/close.svg") center center no-repeat;
}

.carusel {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.carusel__arrow .arrow__icon {
  height: 0.8125rem;
  width: 1.6875rem;
}

.carusel__conainer {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.carusel__desc {
  width: 50%;
  padding: 0 0.625rem;
}

.carusel__bg {
  width: 50%;
  overflow: hidden;
}

.carusel__components {
  position: absolute;
  left: 0.6875rem;
  top: 1.875rem;
  width: 90px;
  height: 90px;
  background-color: rgba(227, 80, 40, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carusel__components-pic {
  width: 2.875rem;
  height: 2.75rem;
  margin-bottom: 0.3125rem;
  fill: #ffffff;
}

.carusel__components-text {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
}

.carusel__img {
  display: block;
  max-width: 100%;
}

.carusel__text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.498125rem;
  margin-bottom: 1rem;
}

.carusel__title {
  margin-bottom: 2.5rem;
}

.carusel__price {
  font-family: Gagalin;
  font-size: 1.875rem;
  font-weight: 400;
  color: #e35028;
  letter-spacing: -0.046875rem;
  margin-right: 1.8125rem;
}

.carusel__price-sum {
  font-size: 4.5rem;
  letter-spacing: -0.111875rem;
}

.carusel__order {
  display: flex;
  align-items: baseline;
}

.carusel__kkal {
  position: absolute;
  left: 0.6875rem;
  bottom: 1.875rem;
  opacity: 0.5;
  color: #ffffff;
  font-family: Gagalin;
  font-weight: 400;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carusel__kkal-bg {
  width: 3.75rem;
  height: 3.75rem;
  background-image: url("../img/kkal.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.9375rem;
  padding-left: 0.125rem;
}

.carusel__kkal-weight {
  font-size: 1.25rem;
}

.carusel__kkal-text {
  font-size: 0.875rem;
}

.carusel__slider {
  display: flex;
  max-width: 940px;
  width: 95%;
  overflow: hidden;
}

.carusel__list {
  display: flex;
  position: relative;
  transition: right 0.5s;
  right: 0;
}

.carusel__item {
  position: relative;
  width: 940px;
}

.carusel__products {
  position: absolute;
  top: 0;
  left: -99999px;
  opacity: 0;
  transition: opacity 0.5s;
}

.product {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 1.125rem 1.25rem;
  min-width: 270px;
}

.product__list {
  display: flex;
  flex-direction: column;
}

.product__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4375rem;
}

.product__desc {
  font-size: 0.875rem;
  color: #2f3234;
  display: flex;
  align-items: center;
}

.product_name {
  font-weight: 500;
}

.product__img {
  max-width: 3rem;
  max-height: 2.6875rem;
  margin-right: 1.5625rem;
}

.product__close .close__icon {
  fill: #e35028;
}

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .burger-nav {
    display: flex;
  }

  .promo {
    flex: 0.8;
    flex-direction: column;
    justify-content: center;
  }

  .promo__img,
.promo__content {
    flex-basis: auto;
  }

  .promo__content {
    width: 60%;
    text-align: center;
    padding-left: 0;
    padding-top: 2.5rem;
  }

  .promo__img {
    padding-left: 0;
  }

  .section__arrow {
    bottom: 5%;
  }

  .privilege__head {
    margin-bottom: 3.6875rem;
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    left: 0;
  }

  .team__title {
    text-align: center;
    margin-bottom: 3.0625rem;
  }

  .team__list {
    align-items: center;
    width: 80%;
  }

  .team__item {
    align-items: center;
    margin-bottom: 1.9375rem;
  }

  .team__container {
    flex-direction: column;
    padding: 0.9375rem 0 0 0;
  }

  .team__pic {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }

  .team__text {
    text-align: center;
  }

  .team__link {
    font-size: 1.5625rem;
  }

  .menu-accordion {
    max-width: 100%;
  }

  .reviews__item {
    flex-basis: 50%;
    height: 25%;
  }

  .reviews__content {
    align-items: center;
    text-align: center;
    padding: 0 3.375rem;
  }

  .form__container {
    flex-direction: column;
    padding: 0 9.375rem;
  }

  .form__col {
    margin-right: 0;
  }

  .header_active .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 50, 52, 0.99);
    margin-right: 0;
    z-index: 1;
  }
  .header_active .nav__list {
    flex-direction: column;
  }
  .header_active .nav__item {
    flex-direction: column;
  }
  .header_active .nav__item::after {
    margin: 1.25rem 0;
    width: 0.3125rem;
    height: 0.3125rem;
  }
  .header_active .nav__link {
    font-size: 1.5rem;
  }
  .header_active .nav__close {
    display: block;
    position: fixed;
    top: 2%;
    right: 3%;
  }
  .header_active .logo__icon {
    position: fixed;
    top: 1%;
    left: 2%;
    z-index: 2;
  }

  .carusel__conainer {
    flex-direction: column;
    justify-content: center;
  }

  .carusel__bg,
.carusel__desc {
    width: 100%;
  }

  .carusel__desc {
    padding: 0 2.8125rem;
    text-align: center;
  }

  .carusel__bg {
    display: flex;
    justify-content: center;
    margin-bottom: 1.625rem;
  }

  .carusel__components {
    top: 0;
    left: 0;
  }

  .carusel__kkal {
    top: 0;
    right: 0;
    bottom: inherit;
    left: inherit;
  }

  .carusel__title {
    font-size: 4.5rem;
  }

  .carusel__order {
    justify-content: center;
  }

  .carusel__slider {
    max-width: 570px;
    width: 95%;
  }

  .carusel__item {
    width: 570px;
  }

  .product {
    min-width: 321px;
  }
}
@media (max-width: 480px) {
  .promo__img {
    width: 75%;
  }

  .section__home {
    padding-bottom: 1.9375rem;
  }

  .promo {
    flex: 0.9;
  }

  .promo__content {
    width: 85%;
    padding-top: 3.25rem;
  }

  .promo__title {
    font-size: 3.125rem;
  }

  .promo__text {
    font-size: 3.375rem;
  }

  .privilege__list {
    flex-direction: column;
  }

  .privilege__item {
    width: initial;
    flex-direction: row;
    margin-bottom: 2.1875rem;
  }
  .privilege__item:last-child {
    margin-bottom: 0;
  }

  .privilege__content {
    text-align: left;
  }

  .privilege__img {
    margin-right: 1.875rem;
  }

  .privilege__head {
    font-size: 3.125rem;
    margin-bottom: 2.375rem;
  }

  .team__title {
    font-size: 3.125rem;
    margin-bottom: 2rem;
  }

  .team__item {
    margin-bottom: 1.9375rem;
  }

  .menu-accordion__item_active {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
  }

  .menu-accordion {
    width: 100%;
  }

  .menu-accordion__wrap {
    transition: none;
  }

  .reviews__des {
    display: none;
  }

  .reviews__subtitle {
    font-size: 1.5rem;
  }

  .form__head {
    font-size: 3rem;
    text-align: center;
    line-height: 3.2rem;
    margin-bottom: 2.1875rem;
  }

  .form__container {
    padding: 0;
  }

  .form__row {
    justify-content: center;
  }

  .footer__container {
    flex-direction: column;
  }

  .contacts {
    text-align: center;
  }

  .contacts__phone {
    justify-content: center;
  }

  .footer {
    padding: 1.25rem 0;
  }

  .contacts {
    padding-bottom: 1.25rem;
  }

  .menu-accordion__close {
    display: block;
  }

  .menu-accordion__item_active .menu-accordion__wrap {
    width: 100%;
  }

  .reviews__btn_x768 {
    display: none;
  }

  .reviews__btn_x480 {
    display: block;
  }

  .reviews__content {
    padding: 0 1rem;
  }

  .carusel__conainer {
    padding-top: 1rem;
    padding-bottom: 0;
    height: 90%;
  }

  .carusel__title {
    font-size: 3.125rem;
    line-height: 3.29rem;
    margin-bottom: 1rem;
  }

  .carusel__desc {
    padding: 0;
  }

  .carusel__text {
    margin-bottom: 0.3125rem;
  }

  .carusel__price {
    font-size: 1.5rem;
  }

  .carusel__components {
    left: 0;
    top: 0.2rem;
  }

  .carusel__kkal {
    right: 0;
    top: 0.2rem;
    left: initial;
    bottom: initial;
  }

  .carusel__price-sum {
    font-size: 3.125rem;
  }

  .carusel__bg {
    align-items: center;
  }

  .carusel__slider {
    max-width: 325px;
    width: 95%;
    align-self: stretch;
  }

  .carusel__item {
    width: 325px;
  }

  .carusel__item {
    display: flex;
    align-items: center;
  }

  .carusel__components {
    width: 70px;
    height: 70px;
  }

  .carusel__bg {
    margin-bottom: 1rem;
  }

  .product {
    min-width: 255px;
  }
}

/*# sourceMappingURL=main.css.map */
