@font-face{
  font-family: 'Gagalin';
  src: url('../../fonts/gagalin-regular-webfont.woff2') format('woff2'),
    url('../../fonts/gagalin-regular-webfont.woff') format('woff'),
    url('../../fonts/gagalin-regular-webfont.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Lifehack';
  src: url('../../fonts/lifehack_medium-webfont.woff2') format('woff2'),
    url('../../fonts/lifehack_medium-webfont.woff') format('woff'),
    url('../../fonts/lifehack_medium-webfont.eot') format('eot');
  font-weight: 500;
  font-style: normal;
}