@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .burger-nav {
    display: flex;
  }
  .promo {
    flex: 0.8;
    flex-direction: column;
    justify-content: center;
  }
  .promo__img,
  .promo__content {
    flex-basis: auto;
  }
  .promo__content {
    width: 60%;
    text-align: center;
    padding-left: 0;
    padding-top: 9%;
  }
  .promo__img {
    padding-left: 0;
  }
  .arrow {
    bottom: 5%;
  }
  .privilege__head {
    margin-bottom: 7%;
  }
  .team {
    width: initial;
    left: 0;
  }
  .team__title {
    text-align: center;
    margin-bottom: 7%;
  }
  .team__list {
    align-items: center;
  }
  .team__item {
    align-items: center;
    margin-bottom: 4%;
  }
  .team__container {
    flex-direction: column;
    padding: 3% 0 8% 0;
  }
  .team__pic {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }
  .team__text {
    text-align: center;
  }
  .team__link {
    font-size: 1.5625rem;
  }

  .menu-accordion{
    max-width: 100%;
  }

  .reviews__item{
    flex-basis: 50%;
    height: 25%;
  }

  .reviews__content{
    align-items: center;
    text-align: center;
    padding: 0 3.375rem;
  }

  .form__container{
    flex-direction: column;
    align-items: center;
  }
  .form__col{
    margin-right: 0;
    width: 66%;
  }
  .header_active{
    .nav{
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($shark, .99);
      margin-right: 0;
      z-index: 1;
      &__list{
        flex-direction: column;
      }
      &__item{
        flex-direction: column;
        &::after{
          margin: 1.25rem 0;
          width: 0.3125rem;
          height: 0.3125rem;
        }
      }
      &__link{
        font-size: 1.5rem;
      }
      &__close{
        display: block;
        position: fixed;
        top: 2%;
        right: 3%;
      }
    }
    .logo__icon{
      position: fixed;
      top: 1%;
      left: 2%;
      z-index: 2;
    }
  }  
}

@media (max-width: 480px) {
  .promo__img {
    width: 75%;
  }
  .section__home {
    padding-bottom: 1.9375rem;
  }
  .promo {
    flex: 0.9;
  }
  .promo__content {
    width: 85%;
    padding-top: 10%;
  }
  .promo__title {
    font-size: 3.9375rem;
  }
  .promo__text {
    font-size: 3.375rem;
  }
  .privilege__list {
    flex-direction: column;
  }
  .privilege__item {
    width: initial;
    flex-direction: row;
    margin-bottom: 2.1875rem;
  }
  .privilege__content {
    text-align: left;
  }
  .privilege__img {
    margin-right: 1.875rem;
  }
  .privilege__head {
    font-size: 3.125rem;
    margin-bottom: 5%;
  }
  .team__title {
    font-size: 3.125rem;
    margin-bottom: 5%;
  }
  .team__item {
    margin-bottom: 6%;
  }
  .team__container {
    padding: 3% 0 4% 0;
  }

  .menu-accordion__item_active{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .menu-accordion{
    width: 100%;
  }

  .menu-accordion__contant{
    padding-top: 15%;
  }

  .reviews__des{
    display: none;
  }

  .reviews__subtitle{
    font-size: 1.5rem;
  }
  .form__head{
    font-size: 3.125rem;
    text-align: center;  
  }
  .form__col{
    width: 100%;
  }
  .form__row{
    justify-content: center;
  }
  .form__group_x-480{
    //display: none;
  }
  .footer__container{
    flex-direction: column;
  }
  .contacts{
    text-align: center;
  }
  .contacts__phone{
    justify-content: center;
  }
  .footer{
    padding: 1.25rem 0;
  }
  .contacts{
    padding-bottom: 1.25rem;
  }
  .menu-accordion__close{
    display: block;
  }
}