@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
  .burger-nav {
    display: flex;
  }
  .promo {
    flex: 0.8;
    flex-direction: column;
    justify-content: center;
  }
  .promo__img,
  .promo__content {
    flex-basis: auto;
  }
  .promo__content {
    width: 60%;
    text-align: center;
    padding-left: 0;
    padding-top: 2.5rem;
  }
  .promo__img {
    padding-left: 0;
  }
  .section__arrow {
    bottom: 5%;
  }
  .privilege__head {
    margin-bottom: 3.6875rem;
  }
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    left: 0;
  }
  .team__title {
    text-align: center;
    margin-bottom: 3.0625rem;
  }
  .team__list {
    align-items: center;
    width: 80%;
  }
  .team__item {
    align-items: center;
    margin-bottom: 1.9375rem;
  }
  .team__container {
    flex-direction: column;
    padding: 0.9375rem 0 0 0;
  }
  .team__pic {
    margin-right: 0;
    margin-bottom: 0.625rem;
  }
  .team__text {
    text-align: center;
  }
  .team__link {
    font-size: 1.5625rem;
  }
  .menu-accordion {
    max-width: 100%;
  }
  .reviews__item {
    flex-basis: 50%;
    height: 25%;
  }
  .reviews__content {
    align-items: center;
    text-align: center;
    padding: 0 3.375rem;
  }
  .form__container {
    flex-direction: column;
    padding: 0 9.375rem;
  }
  .form__col {
    margin-right: 0;
  }
  .header_active {
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($shark, .99);
      margin-right: 0;
      z-index: 1;
      &__list {
        flex-direction: column;
      }
      &__item {
        flex-direction: column;
        &::after {
          margin: 1.25rem 0;
          width: 0.3125rem;
          height: 0.3125rem;
        }
      }
      &__link {
        font-size: 1.5rem;
      }
      &__close {
        display: block;
        position: fixed;
        top: 2%;
        right: 3%;
      }
    }
    .logo__icon {
      position: fixed;
      top: 1%;
      left: 2%;
      z-index: 2;
    }
  }
  .menu-accordion__item_active {
    .menu-accordion__wrap {
      //width: 529px;
    }
  }
  .carusel__conainer {
    flex-direction: column;
    justify-content: center;
  }
  .carusel__bg,
  .carusel__desc {
    width: 100%;
  }
  .carusel__desc {
    padding: 0 2.8125rem;
    text-align: center;
  }
  .carusel__bg {
    display: flex;
    justify-content: center;
    margin-bottom: 1.625rem;
  }
  .carusel__components {
    top: 0;
    left: 0;
  }
  .carusel__kkal {
    top: 0;
    right: 0;
    bottom: inherit;
    left: inherit;
  }
  .carusel__title {
    font-size: 4.5rem;
  }
  .carusel__order {
    justify-content: center;
  }
  .carusel__slider {
    max-width: 570px;
    width: 95%;
  }
  .carusel__item {
    width: 570px;
  }
  .product {
    min-width: 321px;
    padding-right: 3.4375rem;
  }
  .product__close{
    display: block;
  }
  .video{
    max-width: 720px;
  }

  .video__volum-icon{
    display: none;
  }

  .video__progress_audio{
    display: none;
  }
  .video__play_small{
    margin-right: 1.25rem;
  }
  .video__progress_video{
    max-width: 100%;
  }
  .video__play-button{
    fill: $black;
    opacity: .9;
  }

  .video__title{
    font-size: 4.5rem;
    margin-bottom: 3.75rem;
  }
}

@media (max-width: 480px) {
  .promo__img {
    width: 75%;
  }
  .section__home {
    padding-bottom: 1.9375rem;
  }
  .promo {
    flex: 0.9;
  }
  .promo__content {
    width: 85%;
    padding-top: 3.25rem;
  }
  .promo__title {
    font-size: 3.125rem;
  }
  .promo__text {
    font-size: 3.375rem;
  }
  .privilege__list {
    flex-direction: column;
  }
  .privilege__item {
    width: initial;
    flex-direction: row;
    margin-bottom: 2.1875rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .privilege__content {
    text-align: left;
  }
  .privilege__img {
    margin-right: 1.875rem;
  }
  .privilege__head {
    font-size: 3.125rem;
    margin-bottom: 2.375rem;
  }
  .team__title {
    font-size: 3.125rem;
    margin-bottom: 2rem;
  }
  .team__item {
    margin-bottom: 1.9375rem;
  }
  .menu-accordion__item_active {
    position: absolute;
    top: 0;
    left: 0;
    //width: 100%;
    height: 100%;
    z-index: 1;
  }
  .menu-accordion {
    width: 100%;
  }
  .menu-accordion__wrap{
    transition: none;
  }
  .reviews__des {
    display: none;
  }
  .reviews__subtitle {
    font-size: 1.5rem;
  }
  .form__head {
    font-size: 3rem;
    text-align: center;
    line-height: 3.2rem;
    margin-bottom: 2.1875rem;
  }
  .form__container {
    padding: 0;
  }
  .form__row {
    justify-content: center;
  }
  .form__group_x-480 {
    //display: none;
  }
  .footer__container {
    flex-direction: column;
  }
  .contacts {
    text-align: center;
  }
  .contacts__phone {
    justify-content: center;
  }
  .footer {
    padding: 1.25rem 0;
  }
  .contacts {
    padding-bottom: 1.25rem;
  }
  .menu-accordion__close {
    display: block;
  }
  .menu-accordion__item_active {
    .menu-accordion__wrap {
      width: 100%;
    }
  }
  .reviews__btn_x768 {
    display: none;
  }
  .reviews__btn_x480 {
    display: block;
  }
  .reviews__content {
    padding: 0 1rem;
  }
  .carusel__conainer {
    padding-top: 1rem;
    padding-bottom: 0;
    height: 90%;
  }
  .carusel__title {
    font-size: 3.125rem;
    line-height: 3.29rem;
    margin-bottom: 1rem;
  }
  .carusel__desc {
    padding: 0;
  }
  .carusel__text {
    margin-bottom: 0.3125rem;
  }
  .carusel__price {
    font-size: 1.5rem;
  }
  .carusel__components {
    // left: -2.1875rem;
    // top: -1.125rem;
    left: 0;
    top: 0.2rem;
  }
  .carusel__kkal {
    // right: -2.0625rem;
    // top: -1.125rem;
    right: 0;
    top: 0.2rem;
    left: initial;
    bottom: initial; //right: 0;
  }
  .carusel__price-sum {
    font-size: 3.125rem;
  }
  .carusel__bg {
    align-items: center;
  }
  .carusel__slider {
    max-width: 325px;
    width: 95%;
    align-self: stretch;
  }
  .carusel__item {
    width: 325px;
  }
  .carusel__item {
    display: flex;
    align-items: center;
  }
  .carusel__components {
    width: 70px;
    height: 70px;
    // &:active {
    //   .carusel__products {
    //     left: 70px;
    //   }
    // }
    // &:hover{
    //   .carusel__products{
    //     left: 70px;
    //   }
    // }  
  }
  .carusel__controll {
    //position: absolute;
  }
  .carusel__bg {
    margin-bottom: 1rem;
  }
  .product{
    min-width: 255px;
    position: absolute;
    padding-right: 1.875rem;
    left: -19px;
    top: 0;    
  }
  .video{
    max-width: 460px;
  }

  .video__title{
    text-align: center;
    font-size: 3.125rem;
    line-height: 3.75rem;
  }
}