.about{
  background: url('../img/privileges-bg.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about__item{
  flex: 1 1 0;
}

.about__img-cover{
  display: flex;
  justify-content: center;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 10%;
}

.about__img{
  display: block;
  height: 100%;
}

.about__title{
  text-align: center;
  font-family: Lifehack;
  font-size: 24px;
  line-height: 28.14px;
  margin-bottom: 5%;
}

.about__desc{
  text-align: center;
  font-size: 14px;
  line-height: 24.02px;
  opacity: 0.8;
  color: $shark;
}

.about__title{
  margin-bottom: 4%;
}