.arrow{
  display: flex;
  justify-content: center;
}

.arrow__icon{
  width: 1.8125rem;
  height: 0.875rem;
}

.arrow_left{
  .arrow__icon{
    transform: rotate(90deg);
  }
}

.arrow_right{
  .arrow__icon{
    transform: rotate(-90deg);
  }
}