.btn{
  display: block;
  cursor: pointer;
  background-color: $cinnabar;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: $white;
  padding: 9px 16px;
  transition: .3s;
  &:hover{
    background-color: $thunderbird;
    transition: .3s;
  }
}


.btn_grey{
  background-color: $shark;
  &:hover{
    background-color: $shark_2;
  }
}

.btn_bg-none{
  background-color: transparent;
  border: none;
  text-transform: none;
  outline: none;
  &:hover{
    background-color: transparent;
  }
}