.btn{
  display: block;
  padding: 0.625rem 0.9375rem;
  font-size: 0.8125rem;
  font-weight: 500;
  color: $white;
  background-color: $cinnabar;
  border-radius: 5px;
  text-transform: uppercase;
  transition: .3s;
  &:hover{
    background-color: $thunderbird;
  }
}

.btn_grey{
  background-color: $shark;
  &:hover{
    background-color: $shark_2;
  }
}

.btn_bg-none{
  background-color: transparent;
  border: none;
  text-transform: none;
  outline: none;
  &:hover{
    background-color: transparent;
  }
}