.burger-nav{
  display: none;
  flex-direction: column;
}

.burger-nav__item{
  width: 1.5rem;
  height: 0.25rem;
  background-color: $white;
  border-radius: 0.3125rem;
  margin-bottom: 0.3125rem;
  &:last-child{
    margin-bottom: 0;
  }
}