.contacts{
  font-size: 14px;
}

.contacts__address{
  color: $white;
  margin-bottom: 5px;
}

.contacts__phone{
  display: flex;
  align-items: center;
  color: $cinnabar;
}

.contacts__phone-icon{
  fill: $cinnabar;
  width: 12px;
  height: 11px;
  margin-right: 5px;
}