.contacts{
  font-size: 0.875rem;
}

.contacts__address{
  color: $white;
  margin-bottom: 0.3125rem;
}

.contacts__phone{
  display: flex;
  align-items: center;
  color: $cinnabar;
}

.contacts__phone-icon{
  fill: $cinnabar;
  width: 0.75rem;
  height: 0.6875rem;
  margin-right: 0.3125rem;
}

.contacts__phone-call{
  font-size: 0.875rem;
  color: $cinnabar;
}