.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  background: #000 url('../img/bg/footer-bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 0.625rem 0;
}

.footer__container{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}