.form__container{
  display: flex;
}

.form__col{
  flex: 1;
  margin-right: 1.25rem;
  &:last-child{
    margin-right: 0;
  }
}

.form__row{
  display: flex;
  margin-bottom: 1rem;
  &:last-child{
    margin-bottom: 0;
  }
}

.form__group{
  flex: 1;
  margin-right: 1.25rem;
  &:last-child{
    margin-right: 0;
  }
}

.form__input{
  width: 100%;
  height: 2.1875rem;
  border: 1px solid $quill_gray;
  border-radius: 5px;
  outline: none;
  color: $shark;
  font-weight: 300;
  padding: 0.6875rem 1.3125rem;
  &:focus{
    border: 2px solid $yellow_orange;
  }
}

.form__input_text{
  min-height: 6.8125rem;
}

.form__title{
  color: $white;
  font-size: 0.875rem;
  margin-bottom: 0.3125rem;
}

.form__radio{
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1.25rem;
  cursor: pointer;
  & input[type=radio], input[type=checkbox]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:checked + .form__radio-button{
      &::before{
        width: 0.4375rem;
        height: 0.4375rem;
        transition: .3s;      
      }
    }
  }
}

.form__radio-button{
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 0.625rem;
  border-radius: 50%;
  background-color: $white;
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: $cinnabar_2;
    border-radius: 50%;
    transition: .3s;    
  }
}

.form__radio-label{
  color: $white;
  font-size: 0.875rem;
}

.form__radio_checkbox{
  & .form__radio-button{
    border-radius: 0;  
    &::before{
      background: url('../img/checked.png') center center no-repeat;
    }
  }
  & input[type=radio], input[type=checkbox]{
    &:checked + .form__radio-button{
      &::before{
        width: 0.6875rem;
        height: 0.5625rem;        
      }
    }
  }
}

.form__head{
  margin-bottom: 2.8125rem;
}