.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col{
  display: flex;
  align-items: center;
}

.header__nav{
  margin-right: 15px;
}

.header__burger-nav{
  margin-left: 1.875rem;
}