.home{
  background: url('../img/texture.png') center center, 
  url('../img/video-bg.png') center center no-repeat;
  background-size: cover;
  padding-top: 13px;
}

.home__promo{
  flex: .7;
}

.home__arrow{
  position: absolute;
  bottom: 6%;
  left: 49%;  
}