.nav__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav__item{
  &:after{
    content: "•";
    display: inline-block;
    margin: 0 14px;
    color: $white;
  }
  &:last-child{
    margin-right: 0;
    &:after{
      display: none;
    }
  }
}

.nav__link{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: $white;
}