.order{
  background: url('../img/order-texture.png') center center no-repeat,
  url('../img/order-bg.jpg') center center no-repeat;
  background-size: cover;
}

.order__title{
  margin-bottom: 34px;
}