.points{
  position: fixed;
  right: 4%;
  top: 14%;
  z-index: 100;
}

.points__list{
  display: flex;
  flex-direction: column;
}

.points__item{
  margin-bottom: 5px;
}

.points__link{
  display: block;
  width: 16px;
  height: 16px;
  background: url('../../img/Ellipse_2.png') center center no-repeat;
}

.points__link_active{
  border: 1px solid $white;
  border-radius: 50%;
}

