.privileges__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4%;
}

.privileges__item{
  flex: 1 1 0;
}

.privileges__img-cover{
  display: flex;
  justify-content: center;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 10%;
}

.privileges__img{
  display: block;
  height: 100%;
}

.privileges__titile{
  text-align: center;
  font-family: Lifehack;
  font-size: 24px;
  line-height: 28.14px;
  margin-bottom: 5%;
}

.privileges__desc{
  text-align: center;
  font-size: 14px;
  line-height: 24.02px;
  opacity: 0.8;
  color: $shark;
}