.promo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo__text{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__burger{
  padding-left: 1%;
}

.promo__text{
  padding: 6% 0 0 2%;
}

.promo__desc{
  color: $white;
  font-family: Lifehack;
  font-size: 4.0625rem;
  line-height: 3.75rem;
}

.promo__title{
  margin-bottom: 12px;
}