.promo{
  display: flex;
  align-items: center;
}

.promo__burger, .promo__text{
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo__burger{
  padding-left: 19px;
}

.promo__text{
  padding: 6% 0 0 2%;
}

.promo__desc{
  color: $white;
  font-family: Lifehack;
  font-size: 65px;
  line-height: 60px;
}

.promo__title{
  margin-bottom: 12px;
}