.reviews__list{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item{
  position: relative;
  flex-basis: 25%;
  height: 50%;
  overflow: hidden;
  cursor: pointer;
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &:hover::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
  }
  &:hover > .reviews__content{
    opacity: 1;
    transition: 1s;
  }
}

.reviews__content{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0 1.25rem;
  overflow: hidden;
  opacity: 0;
  transition: 1s;
}

.reviews__subtitle{
  margin-bottom: 0.9375rem;
}

.reviews__des{
  color: $white;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.6875rem;
}

.reviews__btn{
  display: flex;
}

.reviews__btn_x480{
  display: none;
}