.socials__list{
  display: flex;
  align-items: center;
}

.socials__item{
  margin-right: 1.25rem;
  &:last-child{
    margin-right: 0;
  }
}

.socials__link{
  display: block;
}

.social__icon{
  width: 1.25rem;
  height: 1.25rem;
  opacity: .3;
  transition: .3s;
  &:hover{
    opacity: 1;
  }
}