.team{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: $shark;
  opacity: 0.93;
  padding: 7.0625rem 6.125rem 0 6.125rem;
}

.team__title{
  margin-bottom: 2.875rem;
}

.team__list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.team__item{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
  &_active{
    .team__wrap{
      height: 100%;
    } 
    .team__link{
      color: $yellow_orange;
      &::before{
        transform: rotate(180deg);
      }
    }   
  }
}

.team__wrap{
  height: 0;
  overflow: hidden;
  transition: 1s;
}


.team__link{
  display: flex;
  align-items: center;
  color: $white;
  font-family: Gagalin;
  font-size: 0.875rem;
  &::before{
    content: "";
    display: block;
    border: 7px solid transparent;
    border-top-color: $yellow_orange;
    border-bottom-width: 0px;
    border-left-width: 5px;
    border-right-width: 5px;
    width: 0;
    height: 0;
    margin-right: 0.625rem;
    transition: .3s;
  }
}

.team__container{
  display: flex;
  align-items: center;
  padding: 1rem 0 0.5rem 1rem;
}

.team__pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 1.25rem;
  background: $white center center no-repeat;
  background-size: cover;
}

.team__text{
  color: $white;
  font-size: 0.875rem;
}

.team__name{
  font-weight: 700;
}

.team__desc{
  line-height: 1.5rem;
}